<%- include('../partials/userHeader') %>

<head>
  <style>
    .container-class {
      min-height: 440px;
      /* Adjust the value to your desired minimum height */
    }

    .btn {
      background-color: rgb(66, 182, 105);
      color: #ffffff;
    }

    .btn:hover {
      background-color: rgb(19, 102, 47);
      color: #ffffff;
    }
  </style>
</head>
<div class="container container-class">
  <h1>Wishlist</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Price</th>
        <!-- Add more table headers as needed -->
      </tr>
    </thead>
    <tbody>
      <% wishlist.forEach(product=> { %>
      <tr>
        <td>
          <img
            src="<%= product.productId.images[0] %>"
            class="product-image img-fluid"
            alt="<%= product.productId.name %>"
            style="width: 100px; height: 100px"
          />
        </td>
        <td><%= product.productId.name %></td>
        <td>
          <i class="fa-solid fa-indian-rupee-sign"></i>
          <%= product.productId.price %>
        </td>
        <td>
          <%= (product.productId.stock_count> 0) ? 'In Stock' : 'Out of Stock'
          %>
        </td>
        <td>
          <a href="moveToCart?id=<%= product.productId._id%>" class="btn"
            >Move To Cart</a
          >
        </td>
        <td>
          <form action="/delete" method="POST" style="display: inline">
            <input
              type="hidden"
              name="productId"
              value="<%= product.productId._id %>"
            />
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>
